div {
    border: 2px solid black;
    margin: 1em;
    padding: 1em;
}

div.fixed-width {
    width: 300px;
}

div.percentage-width {
    width: 50%;
}

div.viewport-width {
    width: 50vw;
}

div.min-max-width {
    min-width: 100px;
    max-width: 300px;
}