html {
    font-size: 16px;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

p,
ol,
ul {
    padding-bottom: 1.5rem;
}

ol,
ul {
    padding-left: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    text-align: left;
    width: 100%;
    border: 1px solid lightgray;
    border-spacing: 0;
}

table tr th {
    background-color: grey;
}

table tr:nth-child(even) td {
	background-color: gainsboro;
}

blockquote {
    padding: 1em;
    margin: 1em;
    border-left: 4px solid lightgrey;
    font-style: italic;
}

blockquote .author {
    text-align: right;
}

