* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 14px/1.5 Lato, sans-serif;
    padding: 1em;
    border: 2px solid green;
    min-height: 100vh;
    display: flex;
}

div {
    width: 100%;
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    border: 2px solid blue;
    padding: 1em;
    margin: 1em;
}

main {
    flex: 1 1 auto;
}