div {
    width: 1000px;
    height: 100px;
    border: 2px solid black;
    padding: 1em;
    margin: 1em;
}

.overflow-visible {
    overflow: visible;
}

.overflow-hidden {
    overflow: hidden;
}

.overflow-scroll {
    overflow: scroll;
}