* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: 14px/1.5 Lato, sans-serif;
    background-color: #eee;
    padding: 2em;
}

.site {
    border: 2px solid #eee;
    background-color: #fff;
    box-shadow: 0 0 1em rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
    padding: 1em;
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    flex-direction: column;
}

.site>* {
    border: 2px solid #eee;
    border-radius: 0.3em;
    padding: 1em;
}

@media (min-width:1200px) {

    .site {
        flex-direction: row;
    }

    .site>header,
    .site>footer {
        flex: 0 1 100%;
    }

    .site>main {
        flex-grow: 7;
    }

    .site>aside {
        flex-grow: 3;
    }

}